<ul class="nav-wrap">
  <li class="nav-item">
    <a
      class="nav-item-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >HOMEPAGE</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-item-link" routerLink="/about" routerLinkActive="active"
      >ABOUT</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-item-link"
      routerLink="/game"
      routerLinkActive="active"
      *ngIf="user"
      >PLAY</a
    >
  </li>
</ul>

<nb-card class="context-menu-wrap">
  <nb-card-header>
    <nb-icon icon="menu" *ngIf="!user"></nb-icon>
    <span *ngIf="user">{{ user.user_metadata['username'] }}</span>
  </nb-card-header>
  <nb-card-body>
      <ng-container *ngIf="user">
        <nb-list>
          <nb-list-item>
            <a routerLink="/profile">Profile</a>
          </nb-list-item>
          <nb-list-item>
            <a (click)="logout()">Logout</a>
          </nb-list-item>
        </nb-list>
      </ng-container>
      <ng-container *ngIf="!user">
        <nb-list>
          <nb-list-item>
            <a routerLink="/auth/login">Login</a>
          </nb-list-item>
          <nb-list-item>
            <a routerLink="/auth/register">Register</a>
          </nb-list-item>
        </nb-list>
      </ng-container>
  </nb-card-body>
</nb-card>
