:host {
  width: 100%;
  display: flex;
  align-items: center;
}

.context-menu-wrap {
  margin-left: auto;
  position: relative;
  margin-top: auto !important;
  margin-bottom: auto !important;
  text-align: center;
  border: 0;
  width: clamp(90px, 15vw, 180px);

  nb-card-header {
    user-select: none;
    cursor: pointer;
  } 

  nb-card-body {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    background-color: #323259;
    z-index: 100;
  }

  nb-list-item {
    justify-content: center;
    flex: 1 1 auto;
    cursor: pointer;
    padding: 0;

    a {
      display: block;
      text-align: center;
      width: 100%;
      height: 100%;
      padding: 15px;
    }
  }

  .hidden {
    display: none !important;
  }
}

.nav-wrap {
  display: flex;
  gap: 5px;
  list-style: none;
}

.nav-item {
  display: inline-block;
}

.nav-item-link {
  position: relative;
  display: block;
  padding: 16px 0;
  box-sizing: border-box;
  margin: 0 10px 0 0;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  transition: 0.2s ease-in;
  color: #bbb;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;

  &:active {
    color: #bbb;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: #bbb;
    text-decoration: none;

    &::before {
      transform-origin: left top;
      transform: scale(1, 1);
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #bbb;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
  }

  &.active {
    color: #ddd;

    &::before {
      background-color: #ddd;
      transform: scale(1, 1);
    }
  }
}
