<ul class="nav-wrap">
  <li class="nav-item">
    <a
      class="nav-item-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >HOMEPAGE</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-item-link" routerLink="/about" routerLinkActive="active"
      >ABOUT</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-item-link"
      routerLink="/game"
      routerLinkActive="active"
      *ngIf="isLoggedIn"
      >PLAY</a
    >
  </li>
</ul>

<button
  class="menu-target"
  nbButton
  outline
  [nbContextMenu]="isLoggedIn ? loggedinItems : loggedoutItems"
  nbContextMenuTrigger="click"
>
  <nb-icon icon="menu" *ngIf="!isLoggedIn"></nb-icon>
  <span *ngIf="isLoggedIn">{{ authService.user.value?.username }}</span>
</button>
