:host {
    display: grid;
    grid-template: 1fr/80% 20%;
    padding: 10px;
    height: 100%;
}

.main {
    display: flex;
}

.timer {
    display: grid;
    place-items: center;
    width: 100%;
}