:host {
  width: 100%;
}

nb-card-header, nb-card-footer {
    display: flex;
    align-items: center;
    padding: 12px;

    .time {
        width: 100%;
        display: inline-block;
        text-align: center;
        font-weight: bolder;
        font-size: 2rem;
    }
}