<nb-card size="small">
  <nb-card-header>
    <div class="name">{{ opponentName }}</div>
  </nb-card-header>
  <nb-card-header>
    <div class="time">{{ p1Time | timer }}</div>
  </nb-card-header>
  
  <nb-card-body>
    <img class="surrender-icon" src="/assets/images/flag.svg" alt="surrender" (click)="surrender()">
  </nb-card-body>
  
  <nb-card-footer>
    <div class="time">{{ p2Time | timer }}</div>
  </nb-card-footer>
  <nb-card-footer>
    <div class="name">{{ playerName }}</div>
  </nb-card-footer>
</nb-card>
