:host {
  width: min(300px, 100%);
}

nb-card-header, nb-card-footer {
    display: flex;
    align-items: center;
    padding: 18px;
    font-weight: bold;

    .time {
        width: 100%;
        display: inline-block;
        text-align: center;
        font-weight: bolder;
        font-size: 2rem;
    }
}

nb-card-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .surrender-icon {
    color: rgb(18, 133, 133);
    height: 40%;
    filter: invert(100%);
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      scale: 1.1;
    }
  }
}

.winner {
  color: lightgreen;
}

.loser {
  color: lightcoral;
}

.draw {
  color: yellow;
}