:host {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  height: 100%;
  gap: max(10px, 1%);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.timer, .aside {
  display: flex;
  align-items: center;
  flex: 1 1 25%;
}

.aside {
  flex: 1 2 25%
}