:host {
  height: 100%;
}

.container {
  display: grid;
  grid-template: 1fr/80% 20%;
  padding: 10px;
  gap: 15px;
  height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  display: grid;
  place-items: center;
  width: 100%;
}
