<div class="container">
  <nb-card accent="info">
    <nb-card-header>{{ user?.user_metadata?.username }}</nb-card-header>
    <nb-card-body>
      <div class="left"></div>
      <div class="center">
        <div class="picture">
          <img
            src="https://images.freeimages.com/fic/images/icons/703/artists_valley_sample/256/business_man_blue.png"
            alt="Profile picture"
          />
        </div>
        <table>
          <tr>
            <td>B-Year:</td>
            <td>Unknown</td>
          </tr>
          <tr>
            <td>Federation:</td>
            <td>Unknown</td>
          </tr>
          <tr>
            <td>Sex:</td>
            <td>Unknown</td>
          </tr>
        </table>
      </div>
      <div class="right">
        <nb-card size="medium">
          <nb-card-header> Last Games </nb-card-header>
          <nb-list>
            <nb-list-item *ngFor="let game of games">
              <a href=""
                ><span [ngClass]="{ winner: game.result === 'w' }">{{
                  game.white_player.username
                }}</span>
                -
                <span [ngClass]="{ winner: game.result === 'b' }">{{
                  game.black_player.username
                }}</span></a
              >
            </nb-list-item>
          </nb-list>
        </nb-card>
      </div>
    </nb-card-body>
  </nb-card>
</div>
