:host {
  height: 100%;
  display: grid;
  place-items: center;
}

.container {
  height: 90%;
  width: 80%;
}

.container > nb-card {
  height: 100%;
}

nb-card-header {
  font-weight: bolder;
  font-size: 1.5rem;
}

nb-card-body {
  display: grid;
  grid-template: 1fr / 30% 40% 30%;

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .picture {
      img {
        width: 100%;
      }
    }

    table {
      min-width: 300px;
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: center;

    nb-card {
      width: 80%;
    }
  }
}

nb-list-item {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bolder;

    .winner {
      color: lightgreen;
    }
    
    .loser {
      color: lightcoral;
    }
    
    .draw {
      color: goldenrod;
    }
  }
}

table {
  border-collapse: collapse;
  margin: 10px;

  tr {
    border: 1px solid #7b51db;
  }

  td {
    font-family: helvetica;
    padding: 10px;

    &:nth-child(1) {
      background-color: #7b51db;
    }
  }
}