<nb-layout>
    <nb-layout-column>
        <nb-card accent="info">
            <nb-card-header>{{ user?.username }}</nb-card-header>
            <nb-card-body>
                <div class="left"></div>
                <div class="center">
                    <div class="picture">
                        <img src="https://images.freeimages.com/fic/images/icons/703/artists_valley_sample/256/business_man_blue.png" alt="profile-picture">
                    </div>
                    <table>
                        <tr><td>B-Year:</td><td>{{ 'Unknown' }}</td></tr>
                        <tr><td>Federation:</td><td>{{ 'Unknown' }}</td></tr>
                        <tr><td>Sex:</td><td>{{ 'Unknown' }}</td></tr>
                    </table>
                </div>
                <div class="right">
                </div>
            </nb-card-body>
          </nb-card>
    </nb-layout-column>
</nb-layout>