<div class="container">
  <ng-container *ngFor="let row of board | async; let rowIndex = index">
    <div class="field-symbol">{{ color==='w' ? 8 - rowIndex : rowIndex+1 }}</div>
    <div class="field" *ngFor="let field of row; let columnIndex = index">
      <div
        (click)="handlePositionChange(rowIndex, columnIndex, field, 'player')"
        [ngClass]="{
          'selected': rowIndex === selectedRow && columnIndex === selectedColumn,
          'possible-move': possibleMoves.indexOf(getSquare(rowIndex, columnIndex))!==-1,
          'last-move': lastMove?.from===getSquare(rowIndex, columnIndex) || lastMove?.to===getSquare(rowIndex, columnIndex),
          'promotion-dim': !!promotionPiece
        }"
      >
        <div class="promotion" *ngIf="promotionChoose && promotionSquare?.column===columnIndex && promotionSquare?.row===rowIndex">
          <div class="field" (click)="setPromotionProperties('q')">
            <img
              [src]="
                '/assets/images/pieces/' + this.color + 'Q.svg'
              "
              alt="queen"
            />
          </div>
          <div class="field" (click)="setPromotionProperties('r')">
            <img
              [src]="
                '/assets/images/pieces/' + this.color + 'R.svg'
              "
              alt="rook"
            />
          </div>
          <div class="field" (click)="setPromotionProperties('b')">
            <img
              [src]="
                '/assets/images/pieces/' + this.color + 'B.svg'
              "
              alt="bishop"
            />
          </div>
          <div class="field" (click)="setPromotionProperties('n')">
            <img
              [src]="
                '/assets/images/pieces/' + this.color + 'N.svg'
              "
              alt="knight"
            />
          </div>
        </div>
        <img
          *ngIf="field"
          [src]="
            '/assets/images/pieces/' +
            field.color +
            field.type.toUpperCase() +
            '.svg'
          "
          [alt]="field"
        />
      </div>
    </div>
    <span></span>
    <span></span>
  </ng-container>
  <div
  *ngFor="let fieldSymbol of columnSymbolArray"
  class="field-symbol"
  >
    {{ fieldSymbol }}
  </div>
</div>
